<script type="text/ng-template" id="mathTextBrowser" ng-controller="mathTextController as $ctrl">
  <div class="ui modal mathTextModal active">
    <div class="header" style="padding-right:1em;">
      <div class="ui three column grid">
        <div class="column center aligned">
          <div class="ui huge breadcrumb breadcrumbTitle qb-breadcrumb">
            <div class="section" ng-class="{activeBreadcumb: isMathWysiwyg == true}">WYSIWYG Editor
            </div>
            <i class="right chevron icon divider"></i>
            <div class="section" ng-class="{activeBreadcumb: isMathWysiwyg == false}">Latex
            </div>
          </div>
        </div>
        <div class="column right aligned">
          <i class="cursor-pointer close link icon" ng-click="closeThisDialog();$ctrl.generateTelemetry({type: 'click', subtype: 'close', target: 'closeButton'})"></i>
        </div>
      </div>
    </div>
    <div class="content wizard">
      <div class="math-formula" ng-show="isMathWysiwyg">
        <div class="symbols-div"><button ng-click="insertSqurt()">√</button></div>
        <p>Type math here: <span id="math-field"></span></p>
        
      </div>
      <div class="math-formula" ng-show="!isMathWysiwyg">
        <p>LaTeX of what you typed: <span id="latex"></span></p>
        <!-- <span id="hiddenSpan" ></span> -->
      </div>
      <!-- <span class="math-field"> -->
      <!-- <input name="title" ng-model="mathText" type="text" placeholder="Question Set Title" ng-change="mathQuillConvert(mathText)"> -->
      <!-- </span> -->
      <!-- <p><span id="mathTextBox" class="mathquill-editor">\sqrt[3]{8}=\frac{\sqrt{16}}{2}</span></p> -->
      
    </div>
    <div class="actions button-actions qs-footer-action">
      <div class="ui buttons">
        <button class="ui blue button" ng-click="mathQuillToLatex()" type="button" ng-show="isMathWysiwyg">Convert to latex
        </button>
        <!-- <button class="ui blue button" ng-click="LatexTomathQuill()" type="button">Convert to Formula
        </button> -->
        <button class="ui blue button" ng-click="addToStage()" type="button" ng-show="!isMathWysiwyg">Add to stage
        </button>
      </div>
    </div>
    <!-- <mathquill ng-model="mlatex" /> -->
  </div>
</script>