<script type="text/ng-template" id="mathTextBrowser" ng-controller="mathTextController">
  <div class="ui modal math-modal active">
    <div id="context1">
      <div class="ui secondary menu math-tab-head">
        <a class="item active" data-tab="library">Library</a>
        <a class="item" data-tab="symbols">Symbols</a>
        <a class="item" data-tab="equations">Equations</a>
        <a class="item" data-tab="latex">Latex</a>
        <i class="cursor-pointer close link icon math-close-tab" ng-click="closeThisDialog();"></i>
      </div>
      <div class="math-content">
        <div class="ui tab segment active math-tab" data-tab="library">
          <div class="ui large divided items">
            <div class="item select list-items math-lib" ng-repeat="lib in libraryEquations" ng-click="latexToEquations(lib.latex)">
              <div class="middle aligned content">
                <div class="math-lib-header">{{lib.title}}</div>
                <div class="meta math-lib-meta" id="libFormula{{$index}}" ng-bind="latexToFormula('libFormula{{$index}}',lib.latex)"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui tab segment math-tab" data-tab="symbols">
          <div class="ui right aligned grid">
            <div class="right floated right aligned six wide column">
              <div class="ui dropdown symbols-dropdown item right">
                Symbols
                <i class="dropdown icon"></i>
                <div class="right menu">
                  <a class="item">All</a>
                  <a class="item">alpha</a>
                  <a class="item">beta</a>
                </div>
              </div>
            </div>
          </div>
          <div class="ui grid">
            <div class="two wide column math-symbols" ng-repeat="symbol in symbolsArray">
              <span class="math-symbol" id="symbol{{$index}}" ng-click="latexToEquations(symbol.latex);">{{symbol.symbol}}</span>
            </div>
          </div>
        </div>
        <div class="ui tab segment math-tab" data-tab="equations">
          <div class="ui right aligned grid">
            <div class="left aligned six wide column">
              Fractions
            </div>
            <div class="right floated right aligned six wide column">
              <div class="ui dropdown equations-dropdown item">
                Fractions
                <i class="dropdown icon"></i>
                <div class="right menu">
                  <a class="item">All</a>
                  <a class="item">Fractions</a>
                </div>
              </div>
            </div>
          </div>
          <div class="ui grid">
            <div class="two wide column math-symbols" ng-repeat="equation in equationsArray">
              <span class="math-symbol" id="equation{{$index}}" ng-click="latexToEquations(equation.latex);">{{equation.equation}}</span>
            </div>
          </div>
        </div>
        <div class="ui tab segment math-tab" data-tab="latex">
          <div class="ui right aligned grid">
            <div class="right floated right aligned six wide column">
              <div class="ui dropdown latex-dropdown item right">
                Latex
                <i class="dropdown icon"></i>
                <div class="right menu">
                  <a class="item">All</a>
                  <a class="item">latex</a>
                </div>
              </div>
            </div>
          </div>
          <div class="ui three column grid math-latex">
            <div class="column math-latex-div" ng-repeat="latex in latexes" ng-click="latexToEquations(latex.latex);">
              <span class="math-latex-symbols" id="latex{{$index}}">{{latex.text}}</span>
              <span>{{latex.latex}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions math-footer">
      <div class="ui two column grid">
        <div class="ui nine wide column math-formula">
          <span id="math-field"></span>
          <span id="latex"></span>
        </div>
        <div class="ui three wide column right aligned">
          <button class="ui basic primary button" ng-click="addToStage()" type="button">Add
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <mathquill ng-model="mlatex" /> -->
  </div>
</script>